    body {
        /* position: absolute; */
        /* width: 1440px;
    height: 900px; */
        background-image: url("img/lol.5.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    
    #rectangle {
        height: 160px;
        left: 0px;
        top: 0px;
        background: #000000;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    .imgLog {
        width: 309px;
        height: 103px;
    }
    
    ol {
        list-style: none;
        display: flex;
        flex-direction: row;
    }
    
    li {
        margin: 15px;
        padding: 10px;
    }
    
    a {
        font-family: Krub;
        font-style: normal;
        font-weight: 200;
        font-size: 20px;
        line-height: 47px;
        color: #FFFFFF;
        text-decoration: unset;
    }
    
    .ocultar {
        display: none;
    }
    
    #AllInfoChampions {
        color: yellow;
        font-size: 36px;
    }
    
    #AllChampions {
        display: flex;
    }
    
    h1 {
        font-family: Barlow Condensed;
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 72px;
        color: #CCA43B;
        text-align: center;
    }
    
    .search {
        width: 544px;
        height: 39px;
        background: #C4C4C4;
        border-radius: 10px;
    }
    
    main {
        display: flex;
    }
    
    .informationHeros {
        display: flex;
        flex-wrap: wrap;
    }
    
    .containerHero {
        width: 25%;
        /* background-color: white;
        background-color: rgba(192, 192, 192, 0.3);*/
        text-align: center;
    }
    
    .nameChampions {
        font-size: 18px;
        color: #CCA43B;
    }
    
    button {
        background: none;
        outline: none;
        cursor: pointer;
    }
    
    #rectanglefooter {
        height: 72px;
        left: 0px;
        top: 0px;
        background: #000000;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    button:hover {
        background: #3a5a40;
        border: 2px solid #3a5a40;
    }